body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.box {
    width: calc(33.33% - 20px);
    background-color: #f0f0f0;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* To position the section title */
}

h2 {
    font-size: 1.25em;
    margin-top: 0; /* Remove default margin */
}

/* Section title styles */
.box h2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #A52A2A; /* Unique color for section title */
    color: white; /* Text color for section title */
    padding: 5px 10px;
    margin: 0;
    font-size: 1em; /* Adjust size as needed */
    border: 1px solid black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 991px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 767px) {
    .box {
        width: 100%;
    }
}
